<% user_lists.each do |list| %>

    <label>Subject: </label>
    <%= link_to list.subject, list_path(list.id) %><br>

    <% if !list.share_users.map{ |user| user.username }.empty? %>
        <label>Share users: </label>
        <%= list.share_users.map{ |user| user.username } %><br>
    <% end %>
<%end%>