<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Username: </label>
  <input name = username><br>

  <label>Password: </label>
  <input name = password><br>

  <input type = submit value = 'login'>
<% end %>

<%= link_to "New Account", new_user_path %>