<h1>User's List</h1>
<%= button_to "Add new list", new_list_path, method: :get %><br><br><br>

<% if !@user.lists.empty? %>
    <%= render partial: "lists/list", locals: { user_lists: @user.lists } %>
<% end %>

<% if !@lists_shared.empty? %>
    <h1>Lists shared by others</h1>
    <%= render partial: "lists/list", locals: { user_lists: @lists_shared } %>
<% end %>