<%= render partial: "application/head"%>

<h1>User#show</h1>

<%= button_to "Add new list", new_list_path, method: :get %><br><br><br>

<%= render partial: "lists/list", locals: { user_lists: @user.lists } %>
